<div class="container">
        <div class="row">
            <div class="navbar navbar-fixed-top col-sm-12" role="navigation">
                <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <!--li><a href="#horses">Our Horses</a></li-->
                        <li><a href="#club">The Club</a></li>
                        <li><a href="#membership">Membership</a></li>
                        <li><a href="/news_events">Latest news + Events</a></li>
                        <li><a href="#trainers-jockeys">Trainers + Jockeys</a></li>
                        <li><a href="#team">Team</a></li>
                    </ul>
                    <!--form class="navbar-form pull-left">
                        <a class="btn btn-success" href="#">Buy Now</a>
                    </form-->
                </div>
            </div>
            </div>
        </div>
    </div>