<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

        {% include meta.html %}

            <!--[if lt IE 9]>
              <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="startup/flat-ui/images/favicon.ico">
        
        <link rel="stylesheet" href="startup/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="startup/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="startup/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="startup/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/style.css">


        
    </head>

    <body>
        <div class="page-wrapper"><header class="header-10">
    {% include nav.html %}
    <div class="header-background"></div>
</header>
<section class="header-10-sub v-center" id="section-1">
    <div class="background-no-opacity" id="bg1">
    </div>
    <!--div class="background" id="bg2">
    </div>
    <div class="background" id="bg3">
    </div>
    <div class="background" id="bg4">
    </div>
    <div class="background" id="bg5">
    </div-->
    <div>
        <div class="container">
            <div class="pic-overlay">
                <div class="hero-unit">
                    <h1>The Albatross Club</h1>
                    <p>Racehorse ownership + exclusive events</p>
                    <div style="width:100%;text-align:right;">
                        <a href="#" style="padding:5px;font-size:16px;background-color:cornflowerblue;" onclick="$('#club').slideDown();setTimeout(function(){$('#club').scrollTop();},500);">More >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#section-2"> </a>
</section>

<section id="club" class="blog-2" style="display:none;">
    <div class="background hidden-xs"><div class="container" style="margin-left: 0;">
            <div class="row" style="height:100%;">
                <div class="col-sm-5" style="height:100%;padding: 0; background-image: url('images/frankieascot.jpg');background-size: cover;background-position: center;">                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-5">
                <h3 style="padding-bottom:35px;">
                    Welcome to The Albatross Club
                </h3>
                <div class="promo">
                    <h4>
                        We provide members with all the fun and enjoyment of racehorse ownership coupled with a series of exclusive annual events.
                    </h4>
                </div>
                    <p>
                        The Albatross Club is an exclusive racing club that specialises in syndicated racehorse ownership by bringing together groups of like minded, fun loving race goers that own a number of well bred national hunt and flat thoroughbred racehorses. The Albatross Club's members enjoy great days at the races together and get invited to unique, private experiences with champions of the sport and other celebrity members and ambassadors. The Albatross Club founders have bought and owned Group and Listed Handicap winners on both the flat and jumps with some of the top trainers in the country. Frankie Dettori and Jim Crowley are our ambassadorial jockeys and regularly ride for the Club as well as attending events with our other sporting members. If you do know a member of our club then we do hope you will join our club to experience the passion, excitement and fun of racehorse ownership.
                    </p>
            </div>
        </div>
    </div>
</section>

<section class="header-10-sub v-center" id="section-2">
    <div class="background-no-opacity" id="bg2">
    </div>
    <!--div class="background" id="bg2">
    </div>
    <div class="background" id="bg3">
    </div>
    <div class="background" id="bg4">
    </div>
    <div class="background" id="bg5">
    </div-->
    <div>
        <div class="container">
            <div class="pic-overlay">
                <div class="hero-unit">
                    <h1>Our club's goals</h1>
                    <p>Syndicates | Events | Winning</p>
                    <div style="width:100%;text-align:right;">
                        <a style="padding:5px;font-size:16px;background-color:cornflowerblue;" onclick="$('#goals').slideDown();$('#goals').scrollTop(50px);">More >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#section-3"> </a>
</section>

<section class="content-3" id="goals" style="display:none;">
    <div>
        <!--div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="img">
                        <img src="images/winners.jpg" alt="">
                    </div>
                </div>
            </div>
        </div><hr/-->
        <div class="container">
            <div class="row features">
                <div class="col-sm-3">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Success</h6>

                    <p>An invitation only racing club with a track record of success.</p>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Syndicates</h6>

                    <p>Combined flat and national hunt syndicates.</p>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Events</h6>

                    <p>Annual luxury events schedule with great networking opportunities.</p>
                </div>
            </div>
            <hr class="hidden-xs">
            <div class="row features">
                <div class="col-sm-3">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Trainers + Jockeys</h6>

                    <p>Working with the world premier trainers and retained jockeys.</p>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Celebrity</h6>

                    <p>Celebrity ambassadors endorse the club and own shares in the horses.</p>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Winning</h6>

                    <p>A focus on winning and all round fun with potential high returns.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="membership" class="contacts-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Membership</h3>
            </div>
        </div>

    <div class="container">
        <!--div class="row features">
            <div class="col-sm-5 col-sm-offset-1">
            </div>
            <div class="col-sm-5">
            </div>
        </div-->
        <div class="row features">
            <div class="col-sm-6">
                <h6>Another level</h6>

                <p>The Albatross Club is unique membership, which brings the enjoyment and passion of syndicated racehorse ownership experience to another level.</p>
                <h6>Racehorse ownership</h6>

                <p>As a member you will become part of a syndicate that owns two horses, both flat and national hunt stabled with two of the country's leading trainers.</p>
                <h6>Stable tours</h6>

                <p>You will be invited to exclusive stable tours, to take part in golf days staged on some of the country's best golf courses, and enjoy fine dining and social experiences.</p>
            </div>
            <div class="col-sm-6">
                <h6>Celebrity</h6>

                <p>You will have access to a host of sports stars both past and present at our events and be able to read and watch exclusive interviews from our ambassadors, who include classic winning jockey Frankie Dettori, Grade 1 winning Jockey Jim Crowley, Channel 4's Grand Nation Wining Jockey Jim Crowley and, former Open Champion Darren Clarke and Ryder Cup golfer Lee Westwood.</p>
            <h3 style="margin-bottom:15px;">Get in touch</h3>
            <div class="phone col-sm-6">
                <big>02077777777</big>
                AVAILABLE AT 12PM - 18PM
            </div>
            </div>
        </div>
    </div>
<hr/>

        <div class="row">
            <form>
            <div class="col-sm-6">
                <label class="h6">Your name</label>
                <input type="text" class="form-control">
                <label class="h6">E-mail</label>
                <input type="text" class="form-control" placeholder="name@example.com">
                <label class="h6">Referred by (Name)</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6">
                    <label class="h6">Message</label>
                    <textarea class="form-control" style="height:192px;"></textarea>
                    <button type="submit" class="btn btn-primary-inverse" style="width:100%;"><span class="fui-mail"></span></button>
                </div>
            </form>
        </div>

            <!--div class="col-sm-4 col-sm-offset-1">
                <div class="additional">
                    <h6>Benefits of membership</h6>
                    <p>As a member you will become part of a syndicate that owns two horses, both flat and national hunt stabled with two of the country's leading trainers.</p>
                    <p>You will be invited to exclusive stable tours, to take part in golf days staged on some of the country's best golf courses, and enjoy fine dining and social experiences.</p>
                    <p>You will have access to a host of sports stars both past and present at our events and be able to read and watch exclusive interviews from our ambassadors, who include classic winning jockey Frankie Dettori, Grade 1 winning Jockey Jim Crowley, Channel 4's Grand Nation Wining Jockey Jim Crowley and, former Open Champion Darren Clarke and Ryder Cup golfer Lee Westwood.</p>
                    <p>The Albatross Club is unique membership, which brings the enjoyment and passion of syndicated racehorse ownership experience to another level.</p>
                </div>
            </div-->
    </div>
</section>

<section class="blog-1">
    <div class="container">
        <h3 style="float:left;">Recent Winners</h3>
        <div class="boxes">
            <div class="box-1"><img src="images/hoofit2.jpg"/></div>
            <div class="box-2"><img src="images/Hoof-It-the-horse.jpg"/></div>
            <div class="box-3"><img src="images/producer.jpg"/></div>
            <div class="box-4"><img src="images/crowley.jpg"/></div>
        </div>
    </div>
</section>


<section id="latest-news" class="content-3">
    <div>
        {% for post in site.categories.news-updates limit: 1 %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 aligment">
                    <h3>{{post.title}}</h3>
                    <p><em>{{post.date| date: "%-d %B %Y"}}</em></p>
                    <p>
                        {{post.excerpt}} 
                    </p>
                    <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="photo-wrapper">
                                <div class="photo"><img src="{{post.image-path}}" style="margin-bottom:5px;"></div>
                    </div>
                </div>
            </div>

        <hr/>
        </div>
        {% endfor %}
        <div class="container">
            <div class="row features">
                <div class="row">
                {% for post in site.categories.news-updates limit: 2 offset: 1 %}
                <div class="col-sm-4">
                    <div class="photo-wrapper">
                                <div class="photo"><img class="hidden-xs" src="{{post.image-path}}" style="margin-bottom:5px;"></div>
                    </div>
                    <h6>{{post.title}}</h6><p style="font-size:small;"><em>{{post.date| date: "%-d %B %Y"}}</em></p>

                    <p>{{post.excerpt}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></p>
                </div>
                {% endfor %}
                <div class="col-sm-4 hidden-xs" style="height:0;">
                    <a class="twitter-timeline" href="https://twitter.com/ross88888" data-widget-id="587043813698490368">Tweets by @ross88888</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                </div>
                <div class="row" style="margin-top:20px;">
                {% for post in site.categories.news-updates limit: 2 offset: 3 %}
                <div class="col-sm-4">
                    <div class="photo-wrapper">
                                <div class="photo"><img class="hidden-xs" src="{{post.image-path}}" style="margin-bottom:5px;"></div>
                    </div>
                    <h6>{{post.title}}</h6><p style="font-size:small;"><em>{{post.date| date: "%-d %B %Y"}}</em></p>

                    <p>{{post.excerpt}} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></p>
                </div>
                {% endfor %}
                </div>
                <div class="row hidden-sm hidden-md hidden-lg">
                    <div class="col-sm-4 hidden-xs" style="height:0;">
                    <a class="twitter-timeline" href="https://twitter.com/ross88888" data-widget-id="587043813698490368">Tweets by @ross88888</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                </div>
                <!--div class="col-sm-4 ">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Latest 3</h6>

                    <p>some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text </p>
                </div>
                <div class="col-sm-4">
                    <img class="hidden-xs" src="/images/running.jpg" style="margin-bottom:5px;">
                    <h6>Latest 4</h6>

                    <p>some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text some text </p>
                </div-->
            </div><hr/>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <button class="btn btn-primary">Read archived news</button>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <button class="btn btn-primary">Upcoming events</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!--section id="trainers-jockeys" class="crew-2">
    <div class="container">
        <h3>Jockeys and Trainers</h3>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/vladimir-k.png" alt=""></div>
                        <div class="name">Vladimir K.</div>
                        <div class="position">UI Designer</div>
                    </div>
                    <div class="info">
                        Easy to change and easy to create new elements with color swatches.

                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/sergey-s.png" alt=""></div>
                        <div class="name">Sergey S.</div>
                        <div class="position">UI Designer</div>
                    </div>
                    <div class="info">
                        Easy to change and easy to create new elements with color swatches.

                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/adrian-v.png" alt=""></div>
                        <div class="name">Adrian V.</div>
                        <div class="position">Founder</div>
                    </div>
                    <div class="info">
                        Easy to change and easy to create new elements with color swatches.

                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="members">
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/edvard-k.png" alt=""></div>
                        <div class="name">Vladimir K.</div>
                        <div class="position">UI Designer</div>
                    </div>
                    <div class="info">
                        Easy to change and easy to create new elements with color swatches.

                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/oxana-n.png" alt=""></div>
                        <div class="name">Sergey S.</div>
                        <div class="position">UI Designer</div>
                    </div>
                    <div class="info">
                        Easy to change and easy to create new elements with color swatches.

                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="startup/common-files/img/crew/tatiana-y.png" alt=""></div>
                        <div class="name">Adrian V.</div>
                        <div class="position">Founder</div>
                    </div>
                    <div class="info">
                        Easy to change and easy to create new elements with color swatches.

                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section-->



<section id="team" class="crew-4">
    <div class="container">
    <div class="row">
        <h3 style="float:left;">The Albatross Club Team</h3>
    </div>
    <div class="row">
            {% for page in site.categories.people-profiles %}
                {% assign loopindex = forloop.index | modulo: 3 %}
                {% if loopindex == 1 %}
                <div class="members">
                {% endif %}
                    <div class="member-wrapper">
                        <div class="member">
                            <a href="{{site.baseurl}}{{page.url}}">
                            <div class="photo-wrapper">
                                <div class="photo"><img src="{{page.image-path}}" alt="{{page.name}}" style="display:block;"></div>
                            </div>
                            </a>
                            <div class="info">

                                <div class="name">{{page.name}}</div>
                                
                                {{page.excerpt}}
                                <a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Read More</a>

                                <div class="contacts">
                                    {% if page.role %}
                                    {{page.role}}<br>
                                    {% endif %}
                                    {% if page.twitter %}
                                    <a href="https://www.twitter.com/{{page.twitter}}" target="_blank">@{{page.twitter}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> 
                {% if loopindex == 0 %}
                </div>   
                {% endif %}   <!-- resource-p -->
            {% endfor %}  <!-- page -->
    </div>
</div>
    <!--/.container-->
</section>






{% include foot.html %}
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src="startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="startup/common-files/js/modernizr.custom.js"></script>
            <script src="startup/common-files/js/easing.min.js"></script>
            <script src="startup/common-files/js/jquery.svg.js"></script>
            <script src="startup/common-files/js/jquery.svganim.js"></script>
            <script src="startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="startup/common-files/js/froogaloop.min.js"></script>
            <script src="startup/common-files/js/page-transitions.js"></script>
            <script src="startup/common-files/js/startup-kit.js"></script>
                    <!--script src="startup/common-files/js/jquery.panelSnap.js"></script>
        <script>
          jQuery(function($) {
            $('body').panelSnap();
          });
        </script-->
            <script>
            // handle links with @href started with '#' only
                // $(document).on('click', 'a[href^="/#"]', function(e) {
                //     // target element id
                //     var id = $(this).attr('href').substring(1);    
                //     console.log(id);
                //     // target element
                //     var $id = $(id);
                //     if ($id.length === 0) {
                //         return;
                //     }
                //     // prevent standard hash navigation (avoid blinking in IE)
                //     e.preventDefault();
                //     // top position relative to the document
                //     var pos = $(id).offset().top;
                //     // animated top scrolling
                //     $('body, html').animate({scrollTop: pos - 69},800);
                // });
                // setInterval(replaceBg,5000);

                // var counter = 1;
                // var counterString = "1";

                // function replaceBg(){
                //     $("#bg"+counterString).animate({opacity:'0'},2000);
                //     counter += 1;
                //     counterString = String((counter % 5) + 1);
                //     $("#bg"+counterString).animate({opacity:'0.5'},2000)
                // }

            </script>
        <!--/div-->
{% include analytics.html %}
</body>
</html>